<html>
    <head>
        <title>about | Group Rails Application</title>
    </head>

    <body>
        <h1>About</h1>
        <p>
            Author of page: Mason Holland
        </p>
        <p>
            Welcome to the about page. Here you can find information about our goals and aspirations.<br>
            Goals: to get a A in COS 243.<br>
            Aspirations: To graduate.<br>
        </p>

        <p>
            <a href="https://taylor.edu/">Taylor homepage</a>
        </p>

        <p>
            <a href="https://my.taylor.edu/">Taylor student portal</a>
        </p>
    </body>
</html>
