<h1>Contact</h1>
<p>Author of page: Jared Sennese</p>

<p>
Want to connect with a team member? 
</p>

<p>
Jared Sennese- jared_sennese@taylor.edu
</p>

<p>
Donghwan Hwang- donghwan_hwang@tayor.edu
</p>

<p>
Iona Tramelli- iona_tramelli@taylor.edu
</p>

<p>
Mason Holland- mason_holland@taylor.edu
</p>
