<<<<<<< HEAD
<h1>Feedback</h1>
<p>
    Author of page: Mason Holland
</p>
<p>
    "Welcome to the feedback page."<br>
    "We do not care about your feedback"<br>
    "Go away"
</p>

<p>
    <a href="https://taylor.edu/">Taylor homepage</a>
</p>

<p>
    <a href="https://my.taylor.edu/">Taylor student portal</a>
</p>
=======
<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
>>>>>>> origin/main
