<% provide(:title, "about") %>
<!DOCTYPE html>

<html>
    <head>
        <title><%=yield(:title)% > | Group Rails Application </title>
    </head>

    <body>
        <h1>
            Home
        </h1>

        <p>
            Author of page: Iona Tramelli
        </p>

        <p>
            Welcome to the home page! Here, you will find a link to the taylor website
            as we are all students there. For those who are students, you will find a 
            link to the portal that that we use. I hope you enjoy the start of a group 
            project, though a bit rudimentary at the moment.
        </p>

        <p>
            <a href="https://taylor.edu/">Taylor homepage</a>
        </p>

        <p>
            <a href="https://my.taylor.edu/">Taylor student portal</a>
        </p>
        <p>
            <a href="http://127.0.0.1:3000/static_pages/about">about page</a>
        </p>
    </body>
</html>