<h1>Team Page</h1>
<p> This is the team page. </p>

<p>
My name is Iona Tramelli.
My major is Computer Science/Systems.
I am a junior.
<a href="https://commons.wikimedia.org/wiki/File:June_odd-eyed-cat_cropped.jpg">Picture of cat with two different eye colors</a>
</p>

<p>
My name is donghwan Hwang.
My major is Computer Science/Systems.
I am a Sophomore.
<a href="https://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=1326972">My favorite place
</p>
  
<p>
My name is Jared Sennese
My major is Computer Science/Digital media
I am a junior
<a href=>"https://en.wikipedia.org/wiki/Chicago_White_Sox#/media/File:Chicago_White_Sox.svg">Picture of my favorite baseball team, the Chicago White Sox</a>
</p>
